html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

.nhs-layout .mdl-layout__header .mdl-layout__drawer-button {
  color: rgba(0, 0, 0, 0.54);
}

#g-nav-header{
  background-color: #ef1d2f !important;
  color: white !important;
}

#app-title,
#loading-map{
  text-shadow: 2px 2px 2px #333333; 
}

#app-title{
  font-size: 1.5em;
}

/* === < Drawer > =================================================================== */
.nhs-drawer {
  border: none;
}

/* iOS Safari specific workaround */
.nhs-drawer .mdl-menu__container {
  z-index: -1;
}

.nhs-drawer .nhs-navigation {
  z-index: -2;
}

/* END iOS Safari specific workaround */
.nhs-drawer .mdl-menu .mdl-menu__item {
  display: flex;
  align-items: center;
}

.nhs-drawer-header {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 16px;
  height: 64px;
}

.nhs-navigation {
  flex-grow: 1;
}

.nhs-layout .nhs-navigation .mdl-navigation__link {
  display: flex !important;
  flex-direction: row;
  align-items: center;
  color: rgba(255, 255, 255, 0.56);
  font-weight: 500;
}
.nhs-layout .nhs-navigation .mdl-navigation__link:hover {
  background-color: #00BCD4;
  color: #37474F;
}
.nhs-navigation .mdl-navigation__link .material-icons {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.56);
  margin-right: 32px;
}

.nhs-content {
  max-width: 1080px;
}

.nhs-cards {
  align-items: flex-start;
  align-content: flex-start;
}
.nhs-cards .nhs-separator {
  height: 32px;
}
.nhs-cards .mdl-card__title.mdl-card__title {
  color: white;
  font-size: 24px;
  font-weight: 400;
}
.nhs-cards ul {
  padding: 0;
}
.nhs-cards h3 {
  font-size: 1em;
}

.nhs-cards .mdl-card__actions a {
  color: #00BCD4;
  text-decoration: none;
}

.nhs-options h3 {
  margin: 0;
}

.nhs-options .mdl-checkbox__box-outline {
  border-color: rgba(255, 255, 255, 0.89);
}

.nhs-options ul {
  margin: 0;
  list-style-type: none;
}

.nhs-options li {
  margin: 4px 0;
}

.nhs-options .material-icons {
  color: rgba(255, 255, 255, 0.89);
}

.nhs-options .mdl-card__actions {
  height: 64px;
  display: flex;
  box-sizing: border-box;
  align-items: center;
}

#map {
  bottom:0;
  height: 100vh;
  left: 0;
  position: absolute;
  right: 0;
}

#loading-ajax{
  bottom:0;
  height: 100vh;
  width: 100vw;
  left: 0;
  position: absolute;
  right: 0;
  font-size: 2em;
  text-align: center;
  z-index: 1000;
  background-color: rgba(51, 51, 51, 0.7);
}

#loading-view {
  margin-top: 10%;
}

#loading-view p {
  font-size: 1.1em;
  color: #ff6cd6;
  text-shadow: 2px 2px 2px #333;
}

#loading-view .spinner {
  margin-top: 30px;
  width: 200px;
  height: 200px;
}

#pano {
  display: block;
  min-width: 150px;
  max-width: 360px;
  height: 150px;
}

/* === < side list> =================================================================== */
.noodle-house-list {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  background-color: white;
  padding: 0;
}

.noodle-house-list .card-content {
  padding-bottom: 0;
}

.noodle-house-list li .card-title{
  background-color: #2e2e2e;
}

.noodle-house-list li .house-name,
.infowindow-card .house-name{
  font-weight: 900;
  color: #fff;
  text-shadow: 1px 1px 3px #191a25;
}

.noodle-house-list li .mdl-card--border{
  text-align: center;
}

/* === < side list & infowindow > =================================================================== */
.noodle-house-list li .rating .on,
.infowindow-card .rating .on{
  color: yellow;
  text-shadow: 0 0 3px #000;
}

.noodle-house-list li .rating .off,
.infowindow-card .rating .off {
  color: #838383;
}

.noodle-house-list li .info{
  color: black !important;
  font-size: 10px;
}

.noodle-house-list li .info span,
.infowindow-card .info span {
  color: #351bff !important;
  font-weight:900;
}

.noodle-house-list li .contact {
  color: black !important;
  font-size: 10px;
}

.noodle-house-list li .status,
.infowindow-card .status {
  padding: 5px !important;
  color: black !important;
  font-size: 12px;
}

.noodle-house-list li .status span,
.infowindow-card .status span{
  margin-left: 10px;
  color: #1c1233;
}

/* === < Infowindow > =================================================================== */
.infowindow-card.mdl-card {
  width: 360px;
}
.infowindow-card > .mdl-card__title {
  color: #fff;
  height: 176px;
}
.infowindow-card > .mdl-card__menu {
  color: #fff;
}

.infowindow-card .add-to-favorites {
  text-align: right !important;
}

.infowindow-card .info {
  color: black !important;
  font-size: 12px;
}

.infowindow-card .contact {
  color: black !important;
  font-size: 12px;
}

.infowindow-card .isOpen {
  font-weight: 900;
  color: #ff4e2d;
  padding-top: 10px;
}

/* === < Media Query  > =================================================================== */
@media screen and (max-width: 600px) {
  #app-title{
    font-size: 1em;
  }
  .searchText {
    max-width: 130px;
  }
}